---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<encrypted_map_quest_key>&location=Denver,Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 09 Mar 2022 02:42:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,Co"},"locations":[{"street":"Denver
        Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville-Jefferson
        County","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"40258","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/2735036","unknownInput":"","type":"s","latLng":{"lat":38.17368,"lng":-85.8849},"displayLatLng":{"lat":38.17368,"lng":-85.8849},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<encrypted_map_quest_key>&type=map&size=225,160&locations=38.17368,-85.8849|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-336190209"},{"street":"Denver
        Avenue","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Fort
        Lupton","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80621","geocodeQualityCode":"B3[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<encrypted_open_weather_api_key>&exclude=minutely,alerts&lat=38.17368&lon=-85.8849&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","timezone_offset":-18000,"current":{"dt":1646793748,"sunrise":1646741122,"sunset":1646783010,"temp":40.08,"feels_like":40.08,"pressure":1018,"humidity":71,"dew_point":31.51,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.25,"wind_deg":108,"wind_gust":3.18,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646791200,"temp":40.14,"feels_like":40.14,"pressure":1018,"humidity":70,"dew_point":31.26,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.06,"wind_deg":55,"wind_gust":3.49,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.01},{"dt":1646794800,"temp":40.08,"feels_like":40.08,"pressure":1018,"humidity":71,"dew_point":31.51,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.25,"wind_deg":108,"wind_gust":3.18,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.28},{"dt":1646798400,"temp":39.9,"feels_like":39.9,"pressure":1018,"humidity":74,"dew_point":32.31,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.9,"wind_deg":92,"wind_gust":5.35,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.68},{"dt":1646802000,"temp":39.54,"feels_like":36.99,"pressure":1018,"humidity":78,"dew_point":33.26,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.8,"wind_deg":35,"wind_gust":5.66,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.8,"rain":{"1h":0.49}},{"dt":1646805600,"temp":39.16,"feels_like":36.66,"pressure":1017,"humidity":82,"dew_point":34.14,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.69,"wind_deg":6,"wind_gust":4.79,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.76},{"dt":1646809200,"temp":38.39,"feels_like":34.36,"pressure":1016,"humidity":87,"dew_point":34.86,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.28,"wind_deg":343,"wind_gust":6.67,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.62,"rain":{"1h":0.13}},{"dt":1646812800,"temp":37.44,"feels_like":33.08,"pressure":1016,"humidity":92,"dew_point":34.92,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.48,"wind_deg":349,"wind_gust":7.74,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.82,"rain":{"1h":0.22}},{"dt":1646816400,"temp":36.52,"feels_like":31.57,"pressure":1015,"humidity":97,"dew_point":35.11,"uvi":0,"clouds":100,"visibility":363,"wind_speed":6.06,"wind_deg":346,"wind_gust":10.38,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.84,"rain":{"1h":0.65}},{"dt":1646820000,"temp":36.03,"feels_like":31.69,"pressure":1016,"humidity":98,"dew_point":35.1,"uvi":0,"clouds":100,"visibility":37,"wind_speed":5.14,"wind_deg":340,"wind_gust":10.85,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"pop":0.84,"snow":{"1h":0.9}},{"dt":1646823600,"temp":35.83,"feels_like":31.75,"pressure":1016,"humidity":99,"dew_point":35.02,"uvi":0,"clouds":100,"visibility":30,"wind_speed":4.81,"wind_deg":335,"wind_gust":9.78,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"pop":0.84,"snow":{"1h":0.71}},{"dt":1646827200,"temp":36.09,"feels_like":30.97,"pressure":1017,"humidity":97,"dew_point":34.77,"uvi":0,"clouds":100,"visibility":103,"wind_speed":6.17,"wind_deg":321,"wind_gust":14.18,"weather":[{"id"[...]
