---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<encrypted_map_quest_key>&location=1600%20Pennsylvania%20Ave%20NW,Washington,DC,20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 22:57:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"1600
        Pennsylvania Ave NW,Washington,DC,20500"},"locations":[{"street":"1600 Pennsylvania
        Ave NW","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        Of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"20500","geocodeQualityCode":"P1AAA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"f9e72e2c-c9db-4445-a95a-50ed9836fc16","unknownInput":"","type":"s","latLng":{"lat":38.897683,"lng":-77.036629},"displayLatLng":{"lat":38.897683,"lng":-77.036629},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<encrypted_map_quest_key>&type=map&size=225,160&locations=38.897683,-77.036629|marker-sm-50318A-1&scalebar=true&zoom=15&rand=529143236"}]}]}'
  recorded_at: Mon, 07 Mar 2022 22:57:14 GMT
recorded_with: VCR 6.0.0
