---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<encrypted_map_quest_key>&location=1850%20Bassett%20Street%20Apt%20813,Denver,CO,80202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 09 Mar 2022 02:50:29 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"1850
        Bassett Street Apt 813,Denver,CO,80202"},"locations":[{"street":"1850 Bassett
        Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202","geocodeQualityCode":"P1AAA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"US/PAD/p0/49102559","unknownInput":"","type":"s","latLng":{"lat":39.75741,"lng":-105.00203},"displayLatLng":{"lat":39.75741,"lng":-105.00203},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<encrypted_map_quest_key>&type=map&size=225,160&locations=39.75741,-105.00203|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1392612473"},{"street":"1850
        Bassett Circle","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202","geocodeQualityCode":"L1CAA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"N","linkId":"US/ADDR/p0/40094962","unknownInput":"","type":"s","latLng":{"lat":39.75453,"lng":-105.00592},"displayLatLng":{"lat":39.75453,"lng":-105.00592},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<encrypted_map_quest_key>&type=map&size=225,160&locations=39.75453,-105.00592|marker-sm-50318A-2&scalebar=true&zoom=15&rand=1059144710"}]}]}'
  recorded_at: Wed, 09 Mar 2022 02:50:29 GMT
recorded_with: VCR 6.0.0
