---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<encrypted_key>&location=1850%20Bassett%20Street%20Apt%20813,Denver,CO,80202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 02:22:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"1850
        Bassett Street Apt 813,Denver,CO,80202"},"locations":[{"street":"1850 Bassett
        St, APT 813","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80202-1020","geocodeQualityCode":"P1AAA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"R","linkId":"r50922376|p279280705|n252657462","unknownInput":"","type":"s","latLng":{"lat":39.757605,"lng":-105.002287},"displayLatLng":{"lat":39.757408,"lng":-105.002026},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<encrypted_key>&type=map&size=225,160&locations=39.757605,-105.002287|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1963702484"}]}]}'
  recorded_at: Mon, 07 Mar 2022 02:22:00 GMT
recorded_with: VCR 6.0.0
